# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

*.bat

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


*.sh

# =========================
# IDE Project Files
# =========================
*.classpath
*.project
*.prefs
target/
bin/
*.iml
/.idea/*
!/.idea/sqldialects.xml
!/.idea/templateLanguages.xml
!/.idea/compiler.xml
!/.idea/dictionaries

.dependency-reduced-pom.xml
.flattened-pom.xml

# Auto generated source code
/platform/pcgf_pluginlib-platform-nms/pcgf_pluginlib-platform-nms-*_R[1-9]*/src/**/*_R[1-9]*.java
/platform/pcgf_pluginlib-platform-nms/pcgf_pluginlib-platform-nms-*_R[1-9]*/generator/**/*_R[1-9]*.java.json
/platform/pcgf_pluginlib-platform-nms/pcgf_pluginlib-platform-nms_mm-*_R[1-9]*/src/**/*_R[1-9]*.java
/platform/pcgf_pluginlib-platform-nms/pcgf_pluginlib-platform-nms_mm-*_R[1-9]*/generator/**/*_R[1-9]*.java.json
/platform/pcgf_pluginlib-platform-nms/pcgf_pluginlib-platform-nms_paper-*_R[1-9]*/src/**/*_R[1-9]*.java
/platform/pcgf_pluginlib-platform-nms/pcgf_pluginlib-platform-nms_paper-*_R[1-9]*/generator/**/*_R[1-9]*.java.json
